.axis {
    fill: hsla(0, 0%, 93%, 0.7);
}

.dataTooltip {   
  position: absolute;
  padding: 7px;
  font-size: 0.8em;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
} 

.menu {
  width: 350px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  margin-top: 40px;
}

.svgText {
  font-family: 'Montserrat', sans-serif;
}