* {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes initialRender {
  0% {
    transform: rotate(var(--initial-rotation));
  }

  100% {
    transform: rotate(var(--end-rotation));
  }
}

.radial-elements {
  --initial-rotation: 0deg;
  --end-rotation: 0deg;
  --rotation-duration: 1s;

  transform: rotate(var(--end-rotation));

  animation-name: initialRender;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: var(--rotation-duration);
}
